body,
html {
    height: 100%;
    font-weight:bold;
}

.bgimg{
    background-image: url('../img/resizedwordcloud.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.rel{
    position: absolute;
    top: 10px;
    left: 2%;
}

.relret{
    position: absolute;
    top: 10px;
    right: 4%;
}

.relac{
    position: absolute;        
    top: 70px;
    left: 2%;

}

.relsup{
    position: absolute;
    bottom: 140px;
    left:  2%;
}

.relsuplist{
    color:black;
    background:rgb(0, 230, 0,0.5);
    position: absolute;
    bottom: 10px;
    left:  2%;
}


#tex{
    background:rgb(0, 230, 0,0.5);
    font-weight:bold;
   
}

.hours{
    color:blueviolet;
    font-weight:bold;
    background:rgb(0, 230, 0,0.5);
    border-style: groove;
    border-color:blue;
    position: absolute;
    bottom: 25%;
    right:  2%;
}

#home{
    position: absolute;
    top: 3%;
    right: 2%;
}

.note{
    position: absolute;
    font-style:italic;
    background:rgba(239, 243, 239, 0.5);
    top: 0%;
    left:  30%;
}

